{% for mentor in mentors %}
<article class="col-12 col-md-6 col-lg-4 mb-5">
	<div class="card h-100">
		<!-- <img class="card-img-top" src="https://placehold.it/300x200" alt=""> -->
		<div class="card-body">
			<h4 class="card-title">
				{{ mentor.name }}
				{% if mentor.linkedinUrl %}
					<a href="{{mentor.linkedinUrl}}"><i class="fa fa-linkedin-square"></i></a>
				{% endif %}
			</h4>
			<p class="card-text">{{ mentor.bio }}</p>
			
			<div class="row" id="skills-list">
				<div class="col-12">
					<b>Skills:</b>
				</div>
				{% for skill in mentor.skills %}
					{% if loop.index0 < 5 %}
					<span class="col-12">
						<i class="fa fa-check text-success mr-2"></i>{{ skill.value }}
					</span>
					{% endif %}
				{% endfor %}
			</div>
			<p class="mt-2">
				<b>Preferred Formats:</b><br />
				{% for format in mentor.preferredFormats %}
					<span class="badge badge-pill badge-dark">{{ format }}</span>
				{% endfor %}
				{% if 'Yes' == mentor.hasPreviouslyMentored %}
					<span class="badge badge-pill badge-success">Experienced</span>
				{% endif %}
				
			</p>
		</div>
		<div class="card-footer d-flex justify-content-end">
			{% if mentor.calendlyUrl %}
				<a href="{{mentor.calendlyUrl}}" target="_blank" class="btn btn-dark" style="background-color: #14133B; border-color: #14133B"><i class="fa fa-calendar"></i> Schedule</a>
			{% elif mentor.email %}
				<a href="mailto:{{mentor.email}}" class="btn btn-outline-dark" style="border-color: #14133B"><i class="fa fa-envelope"></i> Email</a>
			{% else %}
				<button disabled class="btn btn-outline btn-outline-danger">Currently Unavilable</button>
			{% endif %}
		</div>
	</div>
</article>
{% endfor %}