{% for room in rooms %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <a href="{{ room.googleMapsURL }}" target="_blank" class="govuk-link">
        <h3 class="govuk-heading-s govuk-!-margin-top-3">{{ room.organisationName }}</h3>
      </a>

      <address>
        {{ room.addressLine1 }}<br>
        {% if room.addressLine2 %}{{ room.addressLine2 }},{% endif %} {% if room.city %}{{ room.city }},{% endif %} {% if room.county %}{{ room.county }},{% endif %}<br>
        {{ room.postcode }}
      </address>

      <p class="govuk-body govuk-!-margin-top-5">
        <strong>Room location: </strong>{{ room.location }}
      </p>

      {% if room.notes %}
      <p class="govuk-body">
        <strong>Notes: </strong>{{ room.notes }}
      </p>
      {% endif %}

      <p class="govuk-body">
        <strong>Date added: </strong>{{ room.createdAt }}
      </p>
      <p class="govuk-body govuk-!-margin-top-5">
        <a class="govuk-link" href="{{ room.googleMapsURL }}" target="_blank">View on Google Maps</a>
      </p>
    </td>
  </tr>
{% else %}
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" colspan="9">No data found</td>
  </tr>
{% endfor %}
