body {
	font-family: 'Source Sans Pro', sans-serif;
}

.linkedin,
.linkedin a,
.linkedin a:visited,
.linkedin a:any-link {
	color: #000000;
}

#filter-tags-list span.br-pill {
	-webkit-transition: border .25s ease-in;
	transition: border 0.25s ease-in;
	border: solid 2px transparent;
}

#filter-tags-list span.br-pill.selected {
	border: solid 2px #14133B;
}