body {
	font-family: 'Source Sans Pro', sans-serif;
}

.linkedin,
.linkedin a,
.linkedin a:visited,
.linkedin a:any-link {
	color: #000000;
}

#filter-tags-list span.br-pill {
	-webkit-transition: border .25s ease-in;
	transition: border 0.25s ease-in;
	border: solid 2px transparent;
}

#filter-tags-list span.br-pill.selected {
	border: solid 2px #14133B;
}

#filter-tags-wrapper {
	display: none;
}

#filter-tags-wrapper.collapsed {
	display: block;
}

.fader {
	background-image: linear-gradient(to bottom, transparent, white);
	height: 2rem;
	position: absolute;
	bottom: 0;
	width: 100%;

	background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For Firefox (3.6 to 15) */
	background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* For old Opera (11.1 to 12.0) */ 
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Standard syntax; must be last */
}

#show-hide-filters {
	text-transform: uppercase;
	font-size: 0.7rem;
	padding: 0.3rem;
	text-align: center;
}